@model List<Book>
@{
    string delDialogId = "deleteConfirm";
    string editDialogId = "editConfirm";
}

<div>

<h1 style="text-align: center; margin-bottom: 50px; font: 24px;">Books</h1>

    <a class="btn btn-primary" asp-action="Create" style="position: relative; right: 100px; top: -10px;" >Create new books</a>

    <table class="table" style="width: 1500px; margin-left: -100px;  ">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Number Of Pages</th>
            <th scope="col">Year Of Publication</th>
            <th scope="col">Price</th>
            <th scope="col">Author Name</th>
            <th scope="col">Trilogies Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var i in Model)
        {
            <tr>
                <td>@i.Id</td>
                <td class="scale-image" >
                    <img src="@(string.IsNullOrEmpty(i.ImageUrl) 
                        ? "https://placehold.co/100x150?text=Not+Found" 
                        : i.ImageUrl)" 
                        alt="Book Cover" width="70" height="100"/>
                </td>
                <td>@i.Title</td>
                <td>@i.Genres.GenreName</td>
                <td>@i.NumberOfPages</td>
                <td>@i.Year</td>
                <td>@i.Price</td>
                <td>@i.Author.AuthorName</td>
                <td>@i.Trilogies.TrilogieName</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" asp-route-id="@i.Id" asp-action="Details">Details</a>
                        <a class="btn btn-secondary" data-bs-id="@i.Id" data-bs-toggle="modal" data-bs-target="#@editDialogId">Edit</a>
                        <a data-bs-id="@i.Id" data-bs-toggle="modal" data-bs-target="#@delDialogId" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>


<partial name="_ConfirmDialogPartial" model=@(new ConfirmDialogViewModel() {
         DialogId = delDialogId,
         Mode = DialogType.danger,
         Message = $"Do you want to delete the book?",
         Title = "Delete Confirmation" }) />

<partial name="_ConfirmDialogPartial" model=@(new ConfirmDialogViewModel() {
         DialogId = editDialogId,
         Mode = DialogType.warning,
         Message = "Do you want to edit the book?",
         Title = "Edit Confirmation" }) /> 

@section Scripts
{
    <script>
        configConfirmModal('@delDialogId', '/Books/delete/');
        configConfirmModal('@editDialogId', '/Books/Edit/');
    </script>
}