@model List<Book>

<div>

<h1 style="text-align: center; margin-bottom: 50px; font: 24px;"  >Books</h1>

    <a class="btn btn-primary" asp-action="Create" style="position: relative; right: 100px; top: -10px;" >Create new books</a>

    <table class="table" style="width: 1500px; margin-left: -100px;  ">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Number Of Pages</th>
            <th scope="col">Year Of Publication</th>
            <th scope="col">Price</th>
            <th scope="col">Author Name</th>
            <th scope="col">Trilogies Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var i in Model)
        {
            <tr>
                <td>@i.Id</td>
                <td class="scale-image" >
                    <img src="@(string.IsNullOrEmpty(i.ImageUrl) 
                        ? "https://placehold.co/100x150?text=Not+Found" 
                        : i.ImageUrl)" 
                        alt="Book Cover" width="70" height="100"/>
                </td>
                <td>@i.Title</td>
                <td>@i.Genres.GenreName</td>
                <td>@i.NumberOfPages</td>
                <td>@i.Year</td>
                <td>@i.Price</td>
                <td>@i.Author.AuthorName</td>
                <td>@i.Trilogies.TrilogieName</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" asp-route-id="@i.Id" asp-action="Details">Details</a>
                        <a class="btn btn-secondary" asp-route-id="@i.Id" asp-action="Edit">Edit</a>
                        <a data-bs-id="@i.Id" data-bs-title="@i.Title" data-bs-toggle="modal" data-bs-target="#deleteConfirmDialog" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<div class="modal fade" id="deleteConfirmDialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete <b class="title"></b> Book?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="deleteBtn" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var modal = document.getElementById('deleteConfirmDialog')
        var deleteBtn = document.getElementById('deleteBtn')

        modal.addEventListener('show.bs.modal', function (event) {

            var button = event.relatedTarget

            var title = button.getAttribute('data-bs-title')


            var titleSpan = modal.querySelector('.modal-body .title')
            titleSpan.textContent = title

            var id = button.getAttribute('data-bs-id')
            var deleteBtn = modal.querySelector('.modal #deleteBtn')
            deleteBtn.setAttribute('href', "/Books/delete/" + id)
        })

    </script>
}