@model List<Book>
@{
    bool IsEmpty = !Model.Any();
}

<div class="text-center">

    <h1 class="display-4">Books in your cart</h1>

    <hr style="margin: 20px 0px 20px 0px" />

    @if (!IsEmpty)
    {
    
    <ol class="list-group">
        @foreach (var book in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="fw-bold"><img src=@book.ImageUrl style=" width: 100px; height: 130px; border-radius: 10px " /></div>
                <div class="ms-2 me-auto" style="text-align: left" >
                    <div class="fw-bold" style="margin-right: 20px">Title: @book.Title</div>
                    <span>Description: @book.Description</span><br />
                    <span>Trilogie: @book.Trilogies?.TrilogieName</span><br />
                    <span>Author: @book.Author?.AuthorName</span><br />
                    <span>Genre: @book.Genres?.GenreName</span><br />
                </div>
                    <span class="badge text-bg-success rounded-pill">@book.Price$</span>
                    <span class="badge text-bg-primary rounded-pill" style="margin-left: 5px" >@book.Stock</span>
                    <a asp-action="Remove" asp-route-id="@book.Id" asp-route-returnUrl="Index" asp-route-returnControllerName="Cart" class="text-danger text-decoration-none" style="margin-left: 10px">
                        <i class="bi bi-x-square"></i>
                    </a>
            </li>
        }
    </ol>
    <div class="my-2">
        <a asp-action="Clear" class="text-danger text-decoration-none">Clear All</a>
    </div>
    }
    else
    {
        <h3>Your cart is empty!</h3>
    }
</div>
